/*global*/
/*#42464E
#7f8c8d
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,600,700,800,900");
body {
  margin: 0;
  font-size: 14px;
  background-color: #FFF;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  color: #42464E;
}

.row {
  margin-right: 0;
}

.container {
  padding-right: 0px;
}

.section {
  padding: 100px 0;
}

h2 {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

.slides-navigation a.prev {
  left: 20px;
}

@media screen and (max-width: 768px) {
  .slides-navigation a.prev {
    display: none;
  }
}

.slides-navigation a.next {
  right: 20px;
}

@media screen and (max-width: 768px) {
  .slides-navigation a.next {
    display: none;
  }
}

.fixed .container .navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.slides-pagination {
  display: none;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .slides-pagination {
    padding-bottom: 20px;
  }
}

.slides-pagination a {
  width: 12px;
  height: 12px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .slides-pagination a {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
}

.overlay-head span {
  position: relative;
  opacity: 0;
  bottom: 1em;
  animation: animateOverlay 1s ease-in-out forwards;
}

.overlay-head span:nth-child(4n) {
  animation-delay: 1s;
}

.overlay-head span:nth-child(4n+1) {
  animation-delay: 1.5s;
}

.overlay-head span:nth-child(4n+3) {
  animation-delay: 2s;
}

.overlay-head span:nth-child(4n+2) {
  animation-delay: 2.5s;
}

@keyframes animateOverlay {
  to {
    opacity: 1;
    bottom: 0;
  }
}

/*loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  top: 0;
  left: 0;
  z-index: 20;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../images/loader.gif) center center no-repeat;
}

/*header*/
.head-button {
  position: absolute;
  height: 40px;
  width: 25px;
  border: 2px solid #FFF;
  z-index: 3;
  top: 90%;
  left: 50%;
  border-radius: 12px;
}

.head-button a {
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.head-button a p {
  height: 5px;
  width: 5px;
  background-color: #FFF;
  border-radius: 100%;
  margin: 0 8px;
  animation: dot-animation 1s linear infinite;
}

@keyframes dot-animation {
  0% {
    opacity: 0;
    transform: scale(1, 1);
    box-shadow: 0px 0px 14px 0.5px white;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 0;
    margin-top: 130%;
    box-shadow: 0px 0px 14px 5px white;
  }
}

.title-message {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 250px;
  top: 50%;
  text-align: center;
  color: #FFF;
  margin-top: -125px;
}

.title-message .heading {
  font-weight: 500;
  letter-spacing: 7px;
}

.title-message .heading .main {
  font-size: 50px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 991px) {
  .title-message .heading .main {
    font-size: 40px;
  }
}

.title-message .heading .text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-weight: 300;
}

.title-message .heading .text .sub {
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  .title-message .heading .text .sub {
    font-size: 30px;
  }
}

@media screen and (max-width: 697px) {
  .title-message .heading .text .sub {
    font-size: 20px;
  }
}

.title-message .heading .text .typed-cursor {
  font-size: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .title-message .heading .text .typed-cursor {
    font-size: 30px;
  }
}

@media screen and (max-width: 697px) {
  .title-message .heading .text .typed-cursor {
    font-size: 20px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

/*navigation*/
#navigation {
  background-color: #42464E;
  padding: 20px 10px;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #D9243E;
}

#navigation .navbar-brand {
  color: #FFF;
  transition: all 0.2s linear, 0.3s;
}

#navigation .navbar-brand:hover {
  color: #D9243E;
}

#navigation button:focus {
  outline: 0;
}

#navigation button .navbar-toggler-icon {
  background: url(../images/icons/navigation.png);
  background-size: 100%;
}

#navigation div .navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  width: 100%;
}

#navigation div .navbar-nav li {
  padding: 0 10px;
}

#navigation div .navbar-nav li a {
  color: #FFF;
  transition: all 0.2s linear, 0.3s;
}

#navigation div .navbar-nav li a:hover {
  color: #D9243E;
}

/*about*/
#about .text-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#about .image-container .aboutImage {
  max-width: 100%;
  padding-bottom: 30px;
}

@media screen and (max-width: 991px) {
  #about .image-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

#about h3 {
  color: #D9243E;
  padding-bottom: 30px;
  font-weight: 700;
}

#about h6 {
  font-weight: 600;
}

#about p {
  padding: 20px 0;
}

.slide-right {
  margin-left: 300px;
  opacity: 0;
}

@media screen and (max-width: 991px) {
  .slide-right {
    margin-left: 0;
    opacity: 1;
  }
}

.hide {
  opacity: 0;
}

@media screen and (max-width: 991px) {
  .hide {
    opacity: 1;
  }
}

/*skills*/
.skillSection {
  background-color: #42464E;
  color: #FFF;
  padding: 100px 50px;
}

.skillSection h2 {
  width: 100%;
  text-align: center;
}

.skillSection .owl-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.skillSection .owl-nav button {
  margin: 10px;
}

.skillSection .owl-nav button span {
  font-size: 40px;
}

.skillSection .owl-nav button:focus {
  outline: 0;
}

.skillSection .owl-dots {
  display: none;
}

.skillSection .skill {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.skillSection .skill .ejs {
  color: #a51f54;
  height: 100px;
  margin: 30px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.skillSection .skill img {
  margin: 30px 0;
  height: 100px;
  width: 100px;
}

.skillSection .skill .size-corect {
  width: 140px;
}

.skillSection .skill .chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.skillSection .skill .chart .percent {
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
  color: #D9243E;
}

.skillSection .skill .chart .percent:after {
  content: '%';
}

.skillSection .skill .chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

/*stats*/
.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareItem .squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #42464E;
  border-top: none;
}

.squareItem .squareInnerContainer:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border: 1px solid #42464E;
  right: 0px;
}

.squareItem .squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border: 1px solid #42464E;
  left: 0px;
}

.squareItem .squareInnerContainer .squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  font-size: 45px;
  margin-left: -20%;
  color: #42464E;
}

.squareItem .squareInnerContainer .squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #D9243E;
}

.squareItem .squareInnerContainer .squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

/*contact*/
.contactSection h2 {
  width: 100%;
  color: #42464E;
  text-align: center;
}

.contactSection form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.contactSection form input {
  width: 300px;
  margin: 10px;
  border: none;
  border-bottom: 2px solid #42464E;
}

.contactSection form input:focus {
  outline: 0;
}

.contactSection form textarea {
  margin: 10px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #42464E;
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  resize: none;
}

.contactSection form textarea:focus {
  outline: 0;
}

.contactSection form button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  color: #42464E;
  background-color: #FFF;
  border: 2px solid #42464E;
  transition: 0.7s;
  background: linear-gradient(60deg, #42464E 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 500%;
  margin: 5px 0 20px;
}

.contactSection form button:focus {
  outline: 0;
}

.contactSection form button:hover {
  color: #FFF;
  border: 2px solid #FFF;
  background-position: 0 100%;
}

.contactSection .formData {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
}

.contactSection .formData i {
  color: #42464E;
  font-size: 30px;
  margin-right: 10px;
}

.contactSection .formData p {
  color: #42464E;
}

.contactSection .formData a i {
  transition: 0.5s;
}

.contactSection .formData a i:hover {
  transform: scale(1.1);
  color: #D9243E;
}

/*portfolio*/
.portfolioSection {
  background-color: #42464E;
}

.portfolioSection .heading {
  text-align: center;
  width: 100%;
}

.portfolioSection .heading h2 {
  color: #FFF;
}

.portfolioSection .filter {
  text-align: center;
  width: 100%;
}

.portfolioSection .filter ul {
  padding: 0;
}

.portfolioSection .filter ul li {
  display: inline-block;
}

@media screen and (max-width: 575px) {
  .portfolioSection .filter ul li {
    padding-top: 10px;
  }
}

.portfolioSection .filter ul li a {
  color: #FFF;
  border: 1px solid #FFF;
  padding: 10px;
  display: block;
  transition: 0.7s;
  background: linear-gradient(60deg, #FFF 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 500%;
}

.portfolioSection .filter ul li a:hover:not(.current) {
  text-decoration: none;
  color: #42464E;
  border: 1px solid #42464E;
  background-position: 0 100%;
}

.portfolioSection .filter ul li .current {
  background-color: #D9243E;
  color: #FFF;
  border: 1px solid #42464E;
}

.portfolioSection .filter ul li .current:hover {
  text-decoration: none;
}

.portfolioSection .itemsContainer {
  width: 100%;
}

.portfolioSection .itemsContainer .items {
  padding: 0;
}

.portfolioSection .itemsContainer .items li {
  display: inline-block;
  padding: 5px;
}

@media screen and (max-width: 575px) {
  .portfolioSection .itemsContainer .items li {
    padding: 10px 20px;
  }
}

.portfolioSection .itemsContainer .items li .item {
  position: relative;
  overflow: hidden;
}

.portfolioSection .itemsContainer .items li .item:hover .icons .openButton {
  left: 0px;
}

.portfolioSection .itemsContainer .items li .item:hover .icons .projectLink {
  right: 0px;
}

.portfolioSection .itemsContainer .items li .item:hover .imageOverlay {
  opacity: 1;
}

.portfolioSection .itemsContainer .items li .item:hover img {
  transform: scale(1.1);
}

.portfolioSection .itemsContainer .items li .item img {
  width: 100%;
  transition: all 0.2s linear, 0.5s;
}

.portfolioSection .itemsContainer .items li .item .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .portfolioSection .itemsContainer .items li .item .icons {
    top: 70%;
    margin: 0 -47px;
    width: 180px;
    left: 40%;
  }
}

.portfolioSection .itemsContainer .items li .item .icons a {
  width: 40px;
  height: 40px;
  background-color: #D9243E;
  display: inline-block;
  position: relative;
  transition: all 0.2s linear, 0.5s;
}

@media screen and (max-width: 768px) {
  .portfolioSection .itemsContainer .items li .item .icons a {
    width: 50px;
    height: 50px;
  }
}

.portfolioSection .itemsContainer .items li .item .icons a i {
  color: #FFF;
  font-size: 20px;
  margin-top: 9px;
}

@media screen and (max-width: 768px) {
  .portfolioSection .itemsContainer .items li .item .icons a i {
    margin-top: 15px;
  }
}

.portfolioSection .itemsContainer .items li .item .icons .openButton {
  float: left;
  left: -300px;
}

.portfolioSection .itemsContainer .items li .item .icons .projectLink {
  float: right;
  right: -300px;
}

.portfolioSection .itemsContainer .items li .item .icon-jk {
  margin: -20px auto 0 -20px;
  left: 50%;
}

.portfolioSection .itemsContainer .items li .item .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: all 0.2s linear, 1s;
}

.copyrightSection {
  background-color: #42464E;
  color: #FFF;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */