/*global*/
body {
  margin: 0;
  font-size: 14px;
  background-color: #FFF;
  letter-spacing: 1px;
}

.row {
  margin-right: 0;
}

.section {
  padding: 100px 0;
}

.slides-navigation a.prev {
  left: 20px;
}

.slides-navigation a.next {
  right: 20px;
}

/*header*/
.title-message {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 250px;
  top: 50%;
  text-align: center;
  color: #FFF;
  margin-top: -125px;
}

.title-message .heading {
  font-weight: 100;
  letter-spacing: 7px;
}

.title-message .heading .main {
  font-size: 50px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.title-message .heading .text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.title-message .heading .text .sub {
  font-size: 30px;
}

.title-message .heading .text .typed-cursor {
  font-size: 30px;
  margin-bottom: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

/*about*/
.aboutImage {
  max-width: 100%;
}

/*skills*/
.skillSection {
  background-color: #7f8c8d;
  color: #FFF;
}

.skillSection h2 {
  margin-bottom: 20px;
}

.skillSection .owl-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.skillSection .owl-nav button span {
  font-size: 40px;
}

.skillSection .owl-nav button:focus {
  outline: 0;
}

.skillSection .owl-dots {
  display: none;
}

.skillSection .skill {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.skillSection .skill .ejs {
  color: #a51f54;
  height: 100px;
  margin: 10px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.skillSection .skill img {
  margin: 10px 0;
  height: 100px;
  width: 100px;
}

.skillSection .skill .size-corect {
  width: 140px;
}

.skillSection .skill .chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.skillSection .skill .chart .percent {
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.skillSection .skill .chart .percent:after {
  content: '%';
}

.skillSection .skill .chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

/*stats*/
.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareItem .squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #7f8c8d;
  border-top: none;
}

.squareItem .squareInnerContainer:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border: 1px solid #7f8c8d;
  right: 0px;
}

.squareItem .squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border: 1px solid #7f8c8d;
  left: 0px;
}

.squareItem .squareInnerContainer .squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  font-size: 45px;
  margin-left: -20%;
  color: #7f8c8d;
}

.squareItem .squareInnerContainer .squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #7f8c8d;
}

.squareItem .squareInnerContainer .squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

/*contact*/
.contactSection {
  background-color: #7f8c8d;
}

.contactSection form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.contactSection form input {
  width: 300px;
  margin: 5px;
}

.contactSection form textarea {
  margin: 5px;
  width: 300px;
  height: 150px;
}

.contactSection form button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  color: #FFF;
  background-color: #7f8c8d;
  border: 2px solid #FFF;
  transition: 0.7s;
  background: linear-gradient(60deg, #FFF 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 500%;
  margin: 5px 0 20px;
}

.contactSection form button:focus {
  outline: 0;
}

.contactSection form button:hover {
  color: #7f8c8d;
  border: 2px solid #7f8c8d;
  background-position: 0 100%;
}

.contactSection .formData {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.contactSection .formData i {
  color: #FFF;
  font-size: 30px;
  margin-right: 10px;
}

.contactSection .formData p {
  color: #FFF;
}

.contactSection .formData a i {
  transition: 0.5s;
}

.contactSection .formData a i:hover {
  transform: scale(1.1);
}
/*# sourceMappingURL=style.prefixed.css.map */